# version: "3.8"
# services:
#   backend:
#     build: ./backend
#     ports:
#       - "8000:8000"
#     env_file:
#       - .env
#   streamlit:
#     build: ./streamlit
#     ports:
#       - "8501:8501"
#     env_file:
#       - .env
#     depends_on:
#       - backend
# old build

version: "3.8"
services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - .env
  streamlit:
    build: ./streamlit
    ports:
      - "8501:8501"
    env_file:
      - .env
    depends_on:
      - backend
